@import 'vars'
  
@mixin button
  display: inline-block
  padding: 10px 20px
  border: 2px solid $back-color
  text-decoration: none
  transition: background-color 0.3s
  
@mixin primary-button 
  @include button
  color: $white-color
  background-color: $back-color

  &:hover
    background-color: $light-grey-color

@mixin secondary-button
  @include button
  color: $back-color
  background-color: $white-color

  &:hover
    background-color: $light-white-color

.primary_button 
  @include primary-button

.secondary_button
  @include secondary-button
  